@{
    ViewData["Title"] = "我的簡歴 - ";
}
    <div class="container pl-5 margin-top-80px">
        <div class="row ml-5">
            <div class="col-6 col-sm-5 col-md-3 col-lg-3 col-xl-2">
                <img class="mypicture rounded-circle" src="~/images/Mypicture.jpg" />
            </div>
            <div class="col-5 col-sm-5 col-md-6 col-lg-5 col-xl-5 text-left">
                <br>
                <h2 class="font-weight-bold">詹逸文</h2><br>
                1995.05.15<br>
                <a href="mailto:t6589989@gmail.com">t6589989@gmail.com</a> | 0918-832-325<br>
                <a href="https://www.facebook.com/profile.php?id=100000343560844"><img src="~/images/facebook_icon.png" /></a>
                <a href="https://github.com/GENYAPIUS"><img class="m-2" src="~/images/github_icon.png" /></a>
                <a href="https://line.me/ti/p/f42Hce3SKX"><img src="~/images/line_icon.png" /></a>
            </div>
        </div><br>
        <div class="row ml-5">
            <div class="col-8 col-sm-9 col-md-6 col-lg-6 col-xl-7 text-left">
                <h1>學習經歴</h1>
                <dl>
                    <dd>明新科技大學，2014 年 9 月 - 至 2018 年 6 月</dd>
                </dl>
            </div>
        </div>
        <div class="row ml-5">
            <div class="col-10 col-sm-7 col-md-6 col-lg-6 col-xl-7 text-left">
                <h1>使用工具及技術</h1>
                <dl>
                    <dt>工具</dt>
                    <dd>- Visual Studio 2017</dd>
                    <dd>- Visual Studio Code</dd>
                    <dt>前端</dt>
                    <dd>- HTML</dd>
                    <dd>- CSS</dd>
                    <dd>- Bootstrap</dd>
                    <dt>後端</dt>
                    <dd>- C# ASP.NET</dd>
                    <dt>資料庫</dt>
                    <dd>- MS SQL Server</dd>
                </dl>
            </div>
        </div>
    </div>
